/config/model_providers.php
/config/model_providers.php.example
/bin
/node_modules
/vendor
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/laravel.log#
/storage/framework/views/*.php
/storage/app/test_users.json
/.env
/.env.private
/.gitattributes
/.gitignore
/docker-compose*.yml
/hawki
/_documentation
/_docker_production
