/config/model_providers.php
/config/model_providers.php.example
/bin
/node_modules
/vendor
/public/build
/public/hot
/hot
/public/storage
/storage
/.env
/.env.private
/.gitattributes
/.gitignore
/docker-compose*.yml
/hawki
/_documentation
/_docker_production
