; LDAP config
LDAP_HOST="ldaps://..."
LDAP_BASE_DN="cn=...,ou=...,dc=..."
LDAP_BIND_PW="..."
LDAP_SEARCH_DN="ou=...,dc=..."

; Open Ai config
OPENAI_API_KEY="sk-..."

; Legal config
IMPRINT_LOCATION="https://my-univiersity.com/imprint"
PRIVACY_LOCATION="https://my-univiersity.com/ai-privacy-policy"

; Testuser accout
TESTUSER=false

; Keycloak
; enable Keycloak login
OPENID_CONNECT=true
; Path to composer auoload file (without /vendor/autoload.php)
; normally set to "."
COMPOSER_PATH="/composer/lib"
; Keycloak key
OIC_CLIENT_SECRET="xxx"
; OpenIDConnect id provider
OIC_IDP="https://xxx"
; OpenIDConnect client id
OIC_CLIENT_ID="xxx"