# DISABLE DIRECTORY LISTINGS
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Remove .php extension from URLs
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^ %{REQUEST_URI}.php [L]

    # Remove trailing dot from URLs
    RewriteRule ^(.*)\.$ /$1 [R=301,L]

    # Redirect all requests to index.php except existing files or directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c> 	
    Header set Cache-Control "no-cache, no-store, must-revalidate" 	
    Header set Pragma "no-cache" 	
    Header set Expires 0 
</IfModule>