@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

:root {
    /* HAWK */
    --main-bg-color: #2F2ABF;
}

body{
  font-family: "Fira Sans", sans-serif;
  color: #0E0D39;
}



body * {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    /* scrollbar-width: none; for Firefox */
}

/* body *::-webkit-scrollbar { */
    /* display: none; for Chrome, Safari, and Opera */
/* } */

.wrapper{
  display: grid;
  grid-template-columns: 440px 1fr;
  grid-template-rows: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

aside{
  /* border-right: 1px solid #eee; */
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  
  scrollbar-width: 0;
  flex: 0 0 auto;
}
aside::-webkit-scrollbar{
  display: none;
  width: 0;
}


.column{
  display: flex;
  flex-direction: column;
}

.top-auto{
  margin-top: auto;
}

p, li{
  line-height: 1.5;
}

label{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  opacity: 0.5;
  font-weight: 600;
  font-size: 0.9rem;
}

input{
  padding: .8rem;
  border: 1px solid #eee;
  outline: none;
  font-size: 1rem;
}

input:focus{
  border-color: var(--main-bg-color);
}

a{
  color: var(--main-bg-color);
  text-decoration: none;
  margin-top: 0.5rem;
}

button{
  align-self: flex-end;
  width: max-content;
  min-width: 9rem;
  margin-top: 1rem;
  padding: 0.75rem 2rem .75rem 2rem;
  background: var(--main-bg-color);
  color: #fff;
  border: 0;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  font-size: 1rem;

  border-radius: .75rem;

}

.loginPanel{
  flex-direction: column;
  flex: 1;
  margin-bottom: 2rem;
}
.loginPanel label{
  font-size: .8rem;
}
.loginPanel input{
  padding: .6rem;
}


#HAWK_logo{
  max-width: 50%;
  height: auto;
}

.impressumPanel{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1.5rem;

  margin-bottom: -1rem;
}




.infoPanel{
  position: relative;

  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: auto;
  margin-top: 10%;
  padding: 2rem 4rem 2rem .5rem;

  height: 60vh;
  width: 70%; 
  max-width: 70vh;
  /* max-width: 75%; */

  border-radius: 1.5rem;

  box-shadow: 1px 1px 5px rgba(.1,.1,.1,.2);
}


.textPanel{
  margin-bottom: 1.5rem;
  padding-left: 4rem;
  overflow: hidden;
  overflow-y: scroll;
  direction: rtl;
  scrollbar-width: 7px;
}
.textPanel::-webkit-scrollbar {
  width: 7px;
}

.textPanel::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.textPanel::-webkit-scrollbar-thumb {
  background: #cbcbcb;
  border-radius: 5px;
}

.textPanel::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.page{
  display: block;
  direction: ltr;
}

.closeButton{
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
}

.headerLine{
  text-align: center;
  margin-bottom: 3rem;
}

.accentText{
  text-decoration: underline;
  text-decoration-color: var(--main-bg-color);
  -webkit-text-decoration-color: var(--main-bg-color);
  text-underline-offset: 10px;
}

video{
  width: 100%;
  background: #eee;
}

small{
  font-weight: 300;
  font-size: 1rem;
}

strong{
  font-weight: 700;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

li{
  display: grid;
  grid-template-columns: 12ch 1fr;
  gap: 1rem;
}

.video-button{
  width: 200px;
  height: 76px;
  border: 0px solid;
  overflow: hidden;
  border-radius: 4rem;
  position: relative;
  box-shadow: 0 0 1.5rem rgba(0,0,0,0.1);
  margin: 2rem 0;
  transition: all 0.2s ease;
  cursor: pointer;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  transform: translate(200%);
}

.video-button video{
  border-radius: 4rem;
  width: inherit;
  height: inherit;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.video-button svg{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 13px;
  left: 13px;
  fill: var(--main-bg-color);
  opacity: 0.75;
  transition: all 0.25s ease;
}

.video-button:hover{
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.2);
}

.video-button:hover svg{
  opacity: 1;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
}

.modal-content {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    margin: auto;
    width: 80%;
    aspect-ratio: 16/9;
  max-width: 800px;
}

.modal-content video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.close {
    color: #aaaaaa;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    top: 1rem;
    right: 1rem;
  position: absolute;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


main{
  display: block;
  width: auto;
  /* padding: 10vmin; */
  /* overflow-y: scroll; */
  position: relative;
}

main > *{
  /* max-width: 60ch; */
}

.backgroundImageContainer{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  padding: 1.5rem;
  overflow: hidden;
}

.image_preview_container {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #d1b8eb;
  border-radius: 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

@media(max-width: 1000px){
  .image_preview_container{
    display: none;
  }
}

@media(max-width: 800px){
  .wrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content;
    overflow-y: auto;
  }
  aside{
    padding: 10vmin;
  }
  main{
    padding: 10vmin 10vmin 50vmin;
  }
}

input:disabled {
  border-color: #88f0b6;
  background: #88f0b6;
  color: #1c5d1b;
}





/* <<<<  NEWSLETTER FORM  >>>> */

#sib-form{
  display: flex !important;
  flex-wrap: wrap;
}
.sib-form{
  padding: 0 !important;
  font-family: "Fira Sans", sans-serif !important;
  display: flex !important;
  flex-direction: column !important; /* Ensure children stack vertically */

}
#sib-container{
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}
#sib-container input:-ms-input-placeholder {
  text-align: left !important;
  font-family: "Fira Sans", sans-serif !important;

}

#sib-container input::placeholder {
  text-align: left !important;
  font-family: "Fira Sans", sans-serif !important;

}

#sib-container textarea::placeholder {
  text-align: left !important;
  font-family: "Fira Sans", sans-serif !important;

}


.newsletterPanel{
  height: fit-content;
  bottom: 0;
  border-top: 1px solid #C0CCD9;
  margin-top: 2rem;
  font-family: "Fira Sans", sans-serif !important; 
}

.newsletterPanel p{
  font-size: .8rem;
  margin: 0;
}
.newsletterPanel h3{
  margin: 0;
}

.newsletterPanel .footer{
  font-size: .6rem;
  /* margin-top: .3rem; */
  letter-spacing: -.2px;
}

.newsletter_submitPanel{
  display: grid !important;
  /* grid-template-columns: auto 1fr;
  column-gap: 1rem; */
  width: 100%;
}
.newsletter_submitPanel button{
  justify-self: flex-end;
}
.errorsPanel{
  flex-grow: 1;
  margin-top: 1rem;
}
.brevoDatenschutz{
  display: block;
  grid-template-columns: 18% 1fr;
  grid-gap: 1rem;
  margin-top: .5rem;
  align-items: center;

}
.brevoDatenschutz p{
  font-size: .7rem;
  margin: 0;
}
.brevoDatenschutz svg{
  max-width: 4.5rem;
}
.sib-form-message-panel{
  margin:0 !important;
  border: none !important;
  height: min-content !important;
  background-color: transparent !important;
}
.sib-form-message-panel--active{
  display: flex !important;
  background-color: none !important;
}
.sib-form-message-panel__text{
  margin: 0 !important;
  padding: 0 !important;
}
#error-message p{
  margin: 0 !important;
}
#error-message.sib-form-message-panel.sib-form-message-panel--active{
  color: red !important;
}
.sib-form-block__button-with-loader{
  line-height: normal !important;
}
.sib-form-block__button{
  padding: 0.75rem 2rem .75rem 2rem !important;
}
.form__entry .cancelation{
  font-weight: 500 !important;
}
.form__entry .entry__label{
  margin-bottom: 0 !important;
}