@import url('./gfont-firesans/firesans.css');

:root {
    --color-transition-duration: 0;
}
.lightMode{
    --background-color: #ffffff;
    --secondary-color: #ffffff; 
    --panel-color:#ececec;
    --secondary-panel-color: rgb(255, 253, 248);
    --ai-messageBackground-color: rgb(245, 248, 251);
    --accent-color: rgb(35, 48, 176);
    --text-color:rgb(40,40,40); 
    --link-color: rgb(40,40,40);
    --invertText-color:#f6f9fc;
    --invertPanel-color:rgb(40,40,40);
    --buttonText-color: #ffffff;
}
.darkMode{
    --background-color: rgb(25,25,25);
    --secondary-color: rgb(30,30,30);
    --panel-color:rgb(40, 40, 40);
    --secondary-panel-color: rgb(32, 32, 32);
    --ai-messageBackground-color: rgb(30,30,30); 
    --accent-color: #ffffff;
    --text-color: #ffffff;
    --link-color: #ffffff;
    --invertText-color:rgb(40,40,40);
    --invertPanel-color:#f6f9fc; 
    --buttonText-color: rgb(40,40,40);
}

* {
    scrollbar-width: 0px;
    -ms-overflow-style: none;
    font-family: "Fira Sans", sans-serif;
    line-height: 1.5;
    box-sizing: border-box;

    transition: background-color var(--color-transition-duration);
    -webkit-transition: background-color var(--color-transition-duration);
    -moz-transition: background-color var(--color-transition-duration);
    -o-transition: background-color var(--color-transition-duration);
}

body {
    overflow: hidden;
    -ms-overflow-style: none; 
    font-family: "Fira Sans", sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
} 

button {
    align-self: flex-end;
    width: max-content;
    min-width: 10rem;
    margin-top: 1rem;
    padding: 0.75rem 2rem 0.75rem 2rem;
    background: var(--accent-color);
    color: var(--buttonText-color);
    border: 0;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    font-size: 1rem;
  
    border-radius: 0.75rem;
}

/* Size of logo on interface page */
#HAWK_logo {
    max-width: 8rem;
    height: auto;
}


small {
    font-weight: 300;
    font-size: 1rem;
}
  
strong {
    font-weight: 700;
}

.accentText {
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
    -webkit-text-decoration-color: var(--accent-color);
    text-underline-offset: 5px;
}

.security-page{
    background-color: var(--background-color);
    color: var(--text-color);
}