<div class="page">
		
	<h1>Über HM-KI (HAWK-KI)</h1>
	<p>Das Angebot wurde auf Basis der Entwicklung der Kollegen der <a href="https://www.hawk.de/de/hochschule/fakultaeten-und-standorte/fakultaet-gestaltung/werkstaetten/interaction-design-lab">HAWK vom Interaction Design Lab</a>
		für die HM angepasst und weiterentwickelt, um allen Hochschulangehörigen die Möglichkeit zu geben, 
		künstliche Intelligenz in die Arbeitsprozesse zu integrieren und einen Begegnungsraum zu haben, damit sich eventuell neue Arbeitsweisen 
		ergeben und eine hochschulinterne Diskussion über den Einsatz von K.I. entstehen kann. Dieses Angebot möchte auch didaktisch unterstützen, ein Verständnis für die Wirkungsweise eines solchen Sprachmodells zu entwickeln 
		und gibt daher in den verschiedenen Bereichen auch Hinweise auf gut funktionierende Prompts (Texteingaben). 
		Wir freuen uns über konstruktives Feedback, um dieses Angebot entsprechend Ihren Bedürfnissen und Erkenntnissen zusammen mit der HAWK weiterzuentwickeln.</p>
	
	<p>
		Tobias Irlinger | Leitung IT <br/>
		Mehmet Sagir | Praktikant IT | Entwickler <br/>
		<br/>
		Team der HAWK:<br/>
		Prof. Stefan Wölwer | Digital Environments | Interaction Design <br/>
		Jonas Trippler | Wissenschaftlicher Mitarbeiter | Hands On <br/>
		Vincent Timm | Wissenschaftlicher Mitarbeiter | Leitung Interaction Design Lab <br/>
		<br/>
		Quellcode:<br/>
		<a href="https://github.com/HAWK-Digital-Environments/HAWKI"> github</a>
		</p>
</div>

<style>
	.input-container{
		display: none;
	}
</style>