<div class="page">
		<h1>Über HAWK-KI</h1>
		<p>Das Angebot wurde im Interaction Design Lab der HAWK entwickelt, um allen Hochschulangehörigen die Möglichkeit zu geben, künstliche Intelligenz in die Arbeitsprozesse zu integrieren und einen Begegnungsraum zu haben, damit sich eventuell neue Arbeitsweisen ergeben und eine hochschulinterne Diskussion über den Einsatz von K.I. entstehen kann. Dieses Angebot möchte auch didaktisch unterstützen, ein Verständnis für die Wirkungsweise eines solchen Sprachmodells zu entwickeln und gibt daher in den verschiedenen Bereichen auch Hinweise auf gut funktionierende Prompts (Texteingaben). Wir freuen uns über konstruktives Feedback, um dieses Angebot entsprechend Ihren Bedürfnissen und Erkenntnissen weiterzuentwickeln.</p>
		
		<p>
		<a href="mailto:stefan.woelwer@hawk.de">Prof. Stefan Wölwer</a> | Digital Environments | Interaction Design <br/>
		<a href="mailto:jonas.trippler@hawk.de">Jonas Trippler</a> | Wissenschaftlicher Mitarbeiter | Hands On<br/>
		<a href="mailto:vincent.timm2@hawk.de">Vincent Timm</a> | Wissenschaftlicher Mitarbeiter | Leitung Interaction Design Lab</p>
</div>

<style>
	.input-container{
		display: none;
	}
</style>