<div class="main-header">
  <div class="person">
    <div class="person-details">
      <div class="person-name">Promptvorschlag</div>
      <div class="suggestion">
        Ich suche nach Unterstützung beim Design Thinking. Ich arbeite an einem
        Projekt, bei dem es darum geht, eine kreative Lösung für ein Problem zu
        finden. Könntest du mir bitte helfen, den Design Thinking Prozess besser
        zu verstehen und mir Ratschläge und Tipps zur Anwendung des Prozesses in
        meinem Projekt geben? Ich suche auch nach Strategien, um meine Ideen zu
        prototypisieren und zu testen, um sicherzustellen, dass meine Lösung für
        das Problem erfolgreich ist. Könntest du mir bitte auch dabei helfen,
        eine Feedbackschleife einzurichten, um meine Lösung iterativ zu
        verbessern?
      </div>
    </div>
  </div>

  <svg
    onclick="copyToInput('.suggestion')"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z"
    />
  </svg>
</div>

<div class="message me" data-role="system">
  <div class="message-content">
    <div class="message-icon">System</div>
    <div class="message-text">
      You are a helpful assistant working at a University in Germany and you are
      an expert in the field of creativity.
    </div>
  </div>
</div>
