<div class="main-header">
  <div class="person">
    <img src="img/AvatarFinanzen.png" alt="" />
    <div class="person-details">
      <div class="person-name">Julia</div>
      <div class="person-role">Schneider</div>
    </div>
  </div>

  <div class="suggestion">
    Du unterhältst Dich jetzt mit Julia, einer fiktiven Finanzberaterin. Was
    möchtest Du über Finanzen wissen?
  </div>
</div>

<div class="modal" onclick="modalClick(this)" id="truth">
  <div class="modal-content">
    <h2>Nutzungshinweis</h2>
    <p>
      In diesem Bereich sprechen Sie mit fiktiven Personen. Die Aussagen in
      diesem Bereich können nicht auf ihren Wahrheitsgehalt überprüft werden und
      sollen nur als Anregung dienen.
    </p>
    <button>Bestätigen</button>
  </div>
</div>

<div class="message me" data-role="system">
  <div class="message-content">
    <div class="message-icon">System</div>
    <div class="message-text">
      You are a helpful assistant working at a university in Germany. Your name
      is Julia Schneider and you are an expert in finance. You advise university
      staff, students and professors. If people want to speak directly to
      someone who works in the finance department at your university you refer
      them to the official university homepage.
    </div>
  </div>
</div>
