<div class="main-header">
  <div class="person">
    <div class="person-details">
      <div class="person-name">Promptvorschlag</div>
      <div class="suggestion">
        Ich bereite mich auf ein Interview vor und suche nach Unterstützung bei
        der Erstellung von Fragen. Könntest du mir bitte helfen, Fragen zu
        formulieren, die es mir ermöglichen, die gewünschten Informationen zu
        sammeln? Ich möchte gerne offene Fragen verwenden. Könntest du mir auch
        helfen, Fragen zu formulieren, die auf die Bedürfnisse meines
        Interviewpartners zugeschnitten sind und ihm ermöglichen, seine
        Erfahrungen und Meinungen ausführlich zu teilen? Ich suche auch nach
        Tipps zur Durchführung eines erfolgreichen Interviews und zur
        Aufzeichnung und Organisation der gesammelten Informationen.
      </div>
    </div>
  </div>

  <svg
    onclick="copyToInput('.suggestion')"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z"
    />
  </svg>
</div>

<div class="message me" data-role="system">
  <div class="message-content">
    <div class="message-icon">System</div>
    <div class="message-text">
      You are a helpful assistant working at a university in Germany and you are
      an expert in the field of creativity.
    </div>
  </div>
</div>
