<div class="main-header">
  <div class="person">
    <div class="person-details">
      <div class="person-name">Promptvorschlag</div>
      <div class="suggestion">
        Ich suche nach Unterstützung bei Lernstrategien. Ich habe
        Schwierigkeiten, effektiv zu lernen und meine Aufgaben zu erledigen. Ich
        bin mir nicht sicher, welche Lernstrategien am besten für mich geeignet
        sind oder wie ich meine Zeit besser organisieren kann, um meine
        Lernziele zu erreichen. Könntest du mir bitte helfen, meine derzeitige
        Lernsituation zu bewerten und mir Ratschläge und Tipps zur Verbesserung
        meiner Lernstrategien geben?
      </div>
    </div>
  </div>

  <svg
    onclick="copyToInput('.suggestion')"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z"
    />
  </svg>
</div>

<div class="message me" data-role="system">
  <div class="message-content">
    <div class="message-icon">System</div>
    <div class="message-text">
      You are a helpful assistant working at a university in Germany and you are
      an expert in the field of organisation.
    </div>
  </div>
</div>
