<div class="main-header">
  <div class="person">
    <div class="person-details">
      <div class="person-name">Promptvorschlag</div>
      <div class="suggestion">
        Ich arbeite gerade an einem wissenschaftlichen Projekt und suche nach
        Unterstützung bei der Methodologie. Ich habe mich entschieden,
        [Beschreibung der gewählten Methodologie] zu verwenden, um [Ziel der
        Forschung] zu erreichen, bin mir aber nicht sicher, ob ich die
        Methodologie korrekt anwende oder ob es andere Methoden gibt, die besser
        geeignet wären. Könntest du mir bitte helfen, meine Methodologie zu
        überprüfen und mir gegebenenfalls Ratschläge zur Verbesserung oder
        Alternative vorschlagen?
      </div>
    </div>
  </div>

  <svg
    onclick="copyToInput('.suggestion')"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z"
    />
  </svg>
</div>

<div class="message me" data-role="system">
  <div class="message-content">
    <div class="message-icon">System</div>
    <div class="message-text">
      You are a helpful assistant working at a university in Germany and you are
      an expert in scientific work.
    </div>
  </div>
</div>
