<div class="main-header">
  <div class="person">
    <div class="person-details">
      <div class="person-name">Promptvorschlag</div>
      <div class="suggestion">
        Ich suche nach Unterstützung, um meine Motivation im Hochschulalltag zu
        verbessern. Ich fühle mich oft überfordert und unmotiviert, wenn ich
        versuche, mit meinem Studium und anderen Verpflichtungen Schritt zu
        halten. Könntest du mir bitte helfen, meine aktuelle Situation zu
        bewerten und mir Ratschläge und Tipps zur Verbesserung meiner Motivation
        geben? Ich suche auch nach Strategien, um meine Ziele besser zu
        definieren und meine Fortschritte im Auge zu behalten.
      </div>
    </div>
  </div>

  <svg
    onclick="copyToInput('.suggestion')"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z"
    />
  </svg>
</div>

<div class="message me" data-role="system">
  <div class="message-content">
    <div class="message-icon">System</div>
    <div class="message-text">
      You are a helpful assistant working at a university in Germany and you are
      an expert in the field of organisation.
    </div>
  </div>
</div>
