<div class="main-header">
  <div class="person">
    <div class="person-details">
      <div class="person-name">Promptvorschlag</div>
      <div class="suggestion">
        Ich bin auf der Suche nach Unterstützung beim Prototyping in meinem
        Designprozess. Könntest du mir bitte helfen, ein effektives Prototyping
        durchzuführen, das mir dabei hilft, meine Designideen zu visualisieren
        und zu testen? Ich suche nach Ratschlägen und Anleitungen zur Auswahl
        der besten Materialien und Tools für mein Prototyping, und wie ich am
        besten die Bedürfnisse meiner Zielgruppe berücksichtigen kann. Könntest
        du mir auch helfen, mein Prototyping auf verschiedene Szenarien
        anzupassen, um sicherzustellen, dass es für alle möglichen
        Nutzererfahrungen relevant ist? Ich suche auch nach Strategien, um
        Feedback von meinen Prototypen zu sammeln und es in meinen Designprozess
        zu integrieren.
      </div>
    </div>
  </div>

  <svg
    onclick="copyToInput('.suggestion')"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M19,21H8V7H19M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1Z"
    />
  </svg>
</div>

<div class="message me" data-role="system">
  <div class="message-content">
    <div class="message-icon">System</div>
    <div class="message-text">
      You are a helpful assistant working at a university in Germany and you are
      an expert in the field of creativity.
    </div>
  </div>
</div>
