[
	{
		"username": "testuser",
		"password": "123",
		"name": "test",
		"email": "e@mail.de",
		"employeetype": "Tester",
		"avatar_id": "arianAvatar.jpg",
		"permissions": null
	},
	{
		"username": "testuser1",
		"password": "123",
		"name": "test1",
		"email": "e2@mail.de",
		"employeetype": "Tester",
		"avatar_id": "arianAvatar.jpg",
		"permissions": null

	},
	{
		"username": "admin",
		"password": "password",
		"name": "admin",
		"email": "admin@admin.com",
		"employeetype": "Tester",
		"avatar_id": "arianAvatar.jpg",
		"permissions": {"platform.index": true, "platform.systems.roles": true, "platform.systems.users": true, "platform.systems.attachment": true}

	}
]
