<?php

return [
    /*
    |--------------------------------------------------------------------------
    |   Model Providers
    |--------------------------------------------------------------------------
    |
    |   List of model providers available on HAWKI. Add your API Key and 
    |   activate the providers.
    |   To include other providers in this list please refer to the
    |   documentation of HAWKI
    |
    */
    'providers' =>[
        'hawki'=> [
            'id' => 'hawki',
            'api_key' => '',
            'api_url' => 'http://localhost:11434/api/chat',
            'ping_url' => 'http://localhost:11434/api/tags',
        ],
        'ollama'=> [
            'id' => 'ollama',
            'api_key' => '',
            'api_url' => 'http://localhost:11434/api/chat',
            'ping_url' => 'http://localhost:11434/api/tags',
        ],
        'openWebUi' => [
            'id' => 'openWebUi',
            'api_key' => '',
            'api_url' => 'your_url/api/chat/completions',
            'ping_url' => 'your_url/api/models',
        ],
        'gwdg' => [
            'id' => 'gwdg',
            'api_key' => '',
            'api_url' => 'https://chat-ai.academiccloud.de/v1/chat/completions',
            'ping_url' => 'https://chat-ai.academiccloud.de/v1/models',
        ],
        'openai' => [
            'id' => 'openai',
            'api_key' => '',
            'api_url' => 'https://api.openai.com/v1/chat/completions',
            'ping_url' => 'https://api.openai.com/v1/models',
        ],

        'google' => [
            'id' => 'google',
            'api_key' => '',
            'api_url' => 'https://generativelanguage.googleapis.com/v1beta/models/',
            'ping_url' => '',
        ],
        
        

    ]
];