<?php

return [
    'defaultModel' => 'gpt-4o',
    'titleGenerationModel' => 'meta-llama-3.1-8b-instruct',


    'providers' =>[
        'openai' => [
            'id' => 'openai',
            'active' => true,
            'api_key' => '',
            'api_url' => 'https://api.openai.com/v1/chat/completions',
            'ping_url' => 'https://api.openai.com/v1/models',
            'models' => [
                [
                    'id' => 'gpt-4o',
                    'label' => 'OpenAI GPT 4o',
                    'streamable' => true,
                ],
                [
                    'id' => 'gpt-4o-mini',
                    'label' => 'OpenAI GPT 4o mini',
                    'streamable' => true,
                ],
                [
                    'id' => 'o1-mini',
                    'label' => 'OpenAI O1 mini',
                    'streamable' => false,
                ]
                
            ]
        ],

        'gwdg' => [
            'id' => 'gwdg',
            'active' => true,
            'api_key' => '',
            'api_url' => 'https://chat-ai.academiccloud.de/v1/chat/completions',
            'ping_url' => 'https://chat-ai.academiccloud.de/v1/models',
            'models' => [
                [
                    'id' => 'meta-llama-3.1-8b-instruct',
                    'label' => 'GWDG Meta Llama 3.1 8b Instruct',
                    'streamable' => true,
                ],
                [
                    'id' => 'meta-llama-3.1-70b-instruct',
                    'label' => 'GWDG Meta Llama 3.1 70b Instruct',
                    'streamable' => true,
                ],
                [
                    'id' => 'mistral-large-instruct',
                    'label' => 'GWDG Mistral Large Instruct',
                    'streamable' => true,
                ],
                [
                    'id' => 'qwen2.5-72b-instruct',
                    'label' => 'GWDG Qwen 2.5 72b Instruct',
                    'streamable' => true,
                ],
                [
                    'id' => 'deepseek-r1-distill-llama-70b',
                    'label' => 'DeepSeek R1 Distill Llama 70B',
                    'streamable' => true,
                ],
                
            ]
        ],

        'google' => [
            'id' => 'google',
            'active' => true,
            'api_key' => '',
            'api_url' => 'https://generativelanguage.googleapis.com/v1beta/models/',
            'streaming_url' => 'https://generativelanguage.googleapis.com/v1beta/models/',
            'ping_url' => '',
            'models' => [
                [
                    'id' => 'gemini-1.5-flash',
                    'label' => 'Google Gemini 1.5 Flash',
                    'streamable' => true,
                ],
                [
                    'id' => 'gemini-2.0-flash-exp',
                    'label' => 'Google Gemini 2.0 Flash Exp',
                    'streamable' => true,
                ],
                
            ]
        ],
        'ollama' => [
            'id' => 'ollama',
            'active' => true,
            'api_key' => '',
            'api_url' => 'http://localhost:11434/api/chat',
            'ping_url' => '',
            'models' => [
                [
                    'id' => 'llama3.2',
                    'label' => 'Ollama Llama3.2',
                    'streamable' => true,
                ],
                [
                    'id' => 'llava',
                    'label' => 'Ollama Llava',
                    'streamable' => true,
                ]
            ]
        ]
    ]
];