/* SECTION: Dynamic Panels */
.dy-sidebar{
    position: relative;
    width: 0;
    box-sizing: border-box;
    padding-top: 2rem;
    padding-right: 0;
    overflow-x: hidden;
    transition: var(--transition-medium);
    border-right: var(--border-stroke-thin);
    background-color: var(--background-main);
}

.dy-sidebar-wrapper{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    width: 100%;
    height: 100%;
    padding: 0 1.5rem;
    z-index: 1;
    overflow: hidden;
}
.dy-sidebar.expanded{
    width: 20rem;
}


.dy-sidebar-expand-btn{
    position: absolute;
    top: 50%;
    right: -2rem;
    transition: all var(--transition-medium);
    z-index: 2;
    /* opacity: 0; */
    display: none;
}
/* .dy-sidebar.expanded:hover .dy-sidebar-expand-btn{
    opacity: 1;
}
.dy-sidebar.expanded .dy-sidebar-expand-btn{
    transform: rotate(180deg);
    right: 0;
} */



.welcome-panel{
    display: none;
    position: relative;
    padding-left: 1rem;
}
.welcome-panel h1{
    /* margin-top: 0; */
    margin-bottom: 1rem;
    margin-left: 1rem;
    line-height: 1;
}

.dy-sidebar .header{
    /* margin-right: calc(.5rem + 3px);
    padding-left: 1rem; */
    position: relative;
    align-items: center;
}
.dy-sidebar .header .new-chat-btn:hover{
    background-color: var(--panel-secondary);
}

.dy-sidebar .title{
    text-wrap: nowrap;
    padding-left: 1rem;
}



.dy-sidebar-content-panel{
    position: relative;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: calc(-1.5rem + 3px);
}

.dy-sidebar-scroll-panel{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: calc(1rem - 3px);
}

.dy-main-panel{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.dy-main-content{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    height: 100%;
    background-color: var(--background-secondary);
}











/* SECTION: CONTROL PANEL */

#member-btn{
    cursor: pointer;
    background-color: var(--background-main);
    padding: 0;
    overflow: hidden;
}

.prop-panel-grid{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    margin: 1rem 0;
    align-items: end;
    height: fit-content;
}
.control-panel-chat-initials,
#control-panel-chat-initials{
    text-align: center;
    font-size: 2rem;
    color: var(--invert-Text-color);
}
/* SECTION: IMAG#image-selection-modalE SELECTOR */

#image-selection-modal .modal-content{
    height: 75vh;
}
.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%; /* Adjust based on your design */
    height: 40vh;
}

#image-field {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
#image-field-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--background-secondary);
}


#image-selection-modal p{
    margin-top: 0;
}

.cropper-view-box,
.cropper-face {
  border-radius: 50%;
}


/* SECTION: ROOM CREATION */

#room-creation, #group-chat, #group-welcome-panel{
    display: none;
}
.group-welcome-wrapper{
    padding: 3rem;
}
#welcome-content{
    max-width: 45rem;
    padding-right: 0;
    text-align: justify;
}
#welcome-content li{
    margin: 1rem 0;
}
#welcome-bg{
    width: 100%;
    max-width: 30vw;
    overflow: hidden;
    background-image: url(../img/welcomeBG.png);
    background-size: cover;
}



.inputs-list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    height: max-content;
}
/* .inputs-list textarea:focus {
    outline: var(--border-stroke-bold);
} */


#room-description-input{
    scrollbar-width: 0;
    padding: 0.5rem 1rem;
}
#room-description-input::-webkit-scrollbar{
    display: none;
    overflow-y: hidden;
}

.add-members-section{
    position: relative;
    display: block;
    
}
.add-members-section button{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.added-members-list{
    overflow: hidden;
    display: flex;
    column-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.added-member{
    position: relative;
    display: flex;
    width: min-content;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 0 0.5rem;
    margin: 0.5rem 0;
    text-wrap: nowrap;
    overflow: hidden;
}
.added-member .remove-member{
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    opacity: 0;
    background-color: transparent;
    transition: var(--transition-fast);
}
.added-member .remove-member svg{
    width: 60%;
    height: 60%;
}
.added-member:hover .remove-member{
    background-color: rgba(255, 255, 255, .3);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    opacity: 1;
}



.search-panel{
    display: grid;
    column-gap: .5rem;
    grid-template-columns: 1fr auto;
    height: 2rem;
}
.search-panel button{
    display: block;
    background-color: var(--background-main);
}
.search-input-wrapper{
    position:relative;
    padding-right: 1rem;
    height: 100%;
    border: var(--border-stroke-thin);
    border-radius: var(--border-radius-tight);
    background-color: var(--background-main) !important;
}

.search-input{
    display: grid;
    grid-template-columns: 1fr auto;
    height: 100%;

}
.search-input input{
    padding: 0.5rem 1rem;
    height: 100%;
}
.search-input select{
    font-size: var(--font-sm);
    background: transparent;
    text-align: right;
    color: var(--text-color);

    width: 100%;
    height: 100%;
    border: none;
}
.search-input select:focus{
    border: none;
    outline: none;
}



.custom-datalist {
    position: absolute;
    top: 100%; /* Position directly below the input */
    left: 0;
    right: 0;
    border: var(--border-stroke-thin);
    border-radius: var(--border-radius-tight);
    max-height: 150px;
    overflow-y: auto;
    background-color: var(--background-main);
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none; 
    z-index: 1000; /* Ensure it sits above other elements */
}

.custom-datalist li {
    padding: 8px;
    cursor: pointer;
}

.custom-datalist li:hover {
    background-color: #f0f0f0;
}



.confirm-panel{
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 2rem;
}

#add-member-modal{
    display: none;
}




/* SECTION: CHATLOGS */
.chatlog{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    font-size: var(--font-sm);
}

.chatlog-container{
    position: relative;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    flex: 1;
    /* overflow-y: auto; */
    margin-right: 5px;
    /* transition: flex var(--transition-fast); */

}


.chatlog.start-state .chatlog-container{
    flex: .5;
}
.chatlog.start-state #start-title{
    display: block;
}
.chatlog.start-state #model-selector-burger{
    max-height: 40vh;
    overflow-y: scroll;
}

#start-title{
    display: none;
    text-align: center;
    font-weight: 400;
}

/* THREADS */
.thread{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 100%;
    row-gap: 1rem;
    /* border: 1px solid red; */
}
/* .thread.me{
    align-self: end;
} */

.thread.trunk{
    padding-top: 2rem;
    padding-bottom: 5rem;
    padding-left: 4rem;
    padding-right: calc(4rem - 13px);
    margin: 0 auto;
}

.thread.branch{
    position: relative;
    display: none;
    padding-left: 4.5rem;
}
.thread.branch.visible{
    display: block;
}

.close-thread-btn{
    position: absolute;
    left: 2rem;
    bottom: 3rem;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: var(--border-stroke-thin);
    border-radius: 50%;
    transition: background-color var(--transition-fast);
}
.close-thread-btn:hover{
    background-color: var(--background-main);
}



/* SECTION: MESSAGES */
.message{
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-large);
}
.trunk .message{
    width: 100%;
    max-width: 70rem;
    align-self: center;

}
.branch .message{
    width: 100%;
    max-width: 100%;
}






.message-wrapper{
    min-width: 100%;
    padding-top: 2rem;
    padding-bottom: .5rem;
    padding-left: 7%;
    padding-right: 7%;
    text-justify: inter-word;
    /* border: 1px solid blue; */
}


.message-content {
    position: relative;
    display: block;
    max-width: 100%;
    min-width: 0;
}

.message-text{
    text-wrap: wrap;
    overflow-wrap: break-word; /* Allows words to break if needed */
    word-wrap: break-word;    /* Legacy support for IE */
    width: 100%;
    white-space: break-spaces;

}
.message-text li{
    white-space: normal;
}

.message-text p{
    margin: 0 0 .5rem 0;
}
.message-text ol,
.message-text ul,
.message-text h3{
    margin: 0;
}

.message-text a{
    padding: 0 .3rem;

}
.message-text a:hover{
    text-decoration: underline;
    text-decoration-color: var(--text-faded-color);
}


.message-text table{
    width: 100%;
    text-align: left;
    border: 2px solid var(--text-color);
    border-collapse: collapse;

}
.message-text th, td {
    border: 1px solid var(--text-color);
    border-collapse: collapse;
    padding: 0.3rem;
}



.assistant-mention{
    font-weight: 700;
}


.message-header{
    display: grid;
    grid-template-columns: 1.5rem auto 1fr;
    column-gap: .75rem;
    margin-bottom: 1rem;
    align-items: center;
}
.message-author{
    font-size: var(--font-xs);
    color: var(--text-color);
    text-transform: capitalize;
}
.message-author-model{
    font-size: var(--font-xxs);
}

.message-controls{
    display: flex;
    flex-direction: row;
    column-gap: .5rem;
    margin-top: 1rem;
    user-select: none;

    justify-content: space-between;
    transition: all var(--transition-medium);
    opacity: .5;
}
.message-wrapper:hover .message-controls{
    opacity: 1; 
} 

.message-controls .controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}





.message-controls .controls .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
}   


.reaction {
    display: none;
    opacity: 0;
    position: absolute;
    top: 120%;
    left: -10%;
    transition: opacity var(--transition-fast);
}
.reaction-button {
    position: relative;;
    transition: transform 0.2s ease;
}
.reaction-button:hover svg{
    stroke: var(--accent-color)
}


.math{
    position: relative;
    margin-top: 1rem;
}
.math-copy-btn{
    opacity: 0;
    justify-self: end;
    transition: opacity var(--transition-fast);
}
.math:hover .math-copy-btn{
    opacity: 1;
}




.message-wrapper.edit-mode{
    border: var(--border-stroke-thin);
    border-radius: var(--border-radius-large);
}

.message[role="system"] {
    display: none;
}

/* EDIT ONLY ON MY MESSAGE
   REGENERATE ONLY ON AI MESSAGE */
.message:not(.AI) #regenerate-btn{
    display: none;
}


.branch .message{
    background-color: transparent !important;
}

.message.me{
    background-color: var(--message-me-bg);
    /* align-self: end; */
}
.message.member{
    background-color: var(--message-member-bg);
}
.message.AI{
    background-color: var(--message-ai-bg);
}


.edit-controls{
    display: none;
    justify-self: end;
    align-items: center;
}

.message .message-status{
    display: flex;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    justify-self: end;
}


#msg-timestamp{
    text-align: end;
    font-size: var(--font-xs);
}
.message-status #sent-status-icon{
    display: none;
    width: 0.8rem;
    height: .8rem;
    align-items: center;
}
#incomplete-msg-icon{
    display: none;

    align-items: center;
    justify-content: center;
}
#incomplete-msg-icon svg{
    stroke: red;
}


#unread-message-icon{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    justify-self: center;
    background-color: green;
}

#thread-btn{
    display: flex;
    column-gap: .5rem;
}
#thread-btn .label,
#thread-btn #unread-thread-icon{
    display: none;
}
.date_span{
    display: block;
    width: 100%;
    margin: 1rem 0;
    text-align: center;
    font-size: var(--font-sm);
    opacity: 0.5;
}




.think{
    position: relative;
    display: flex;
    flex-direction: column;

    background-color: var(--background-secondary);
    border-radius: var(--border-radius-tight);
    border: var(--border-stroke-thin);
    overflow: hidden;
    transition: height 500ms;
}


.think-header{
    position: relative;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 1rem;
    height: 2rem;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    font-size: var(--font-xs);
    border-bottom: var(--border-stroke-thin);
}
.think-header p,
.think-header button{
    padding: 0;
    margin: 0;
}



.think .content-container{
    position: relative;
    display: flex;
    padding: 1rem;
    overflow-y: auto;
    box-sizing: border-box;
    /* height: 10rem; */
    max-height: 15rem;
    transition: max-height var(--transition-medium);
}
.think.expanded .content-container{
    max-height: 500rem;
}
.think-expand-btn{
    transition: var(--transition-medium);
}
.think.expanded .think-expand-btn{
    transform: rotate(180deg);
}

.think .content{
    height: fit-content;
    margin: 0;
    padding-bottom: 1rem;
}



/* SECTION: CHATLIST */
.selection-list{
    display: flex;
    flex-direction: column;
    row-gap: .75rem;

    padding-top: .5rem;
    padding-bottom: 5rem;
    /* padding-left: 1rem; */
    /* padding-right: calc(1rem - 18px); */
    height: max-content;
}
.selection-item{
    display: flex;
    flex-direction: row;
    column-gap: .5rem;
    align-items: center;
    padding-left: 1rem;
    padding-right: .5rem;
    height: 2.5rem;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color var(--transition-fast);
}
.selection-item #unread-msg-flag{
    display: none;
}
.selection-item .label{
    flex: 1;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.selection-item .options{
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity var(--transition-medium);
    z-index: 3;
}
.selection-item:not(.selected):hover{
    background-color: var(--panel-main);
    /* border: var(--border-stroke-thin); */
}
.selection-item:hover .options{
    opacity: 1;
}

.selection-item.selected{
    background-color: var(--panel-main);
    border: var(--border-stroke-thin);
}
.selection-item.selected .options{
    opacity: 1;
}

.selection-item.active{
    background-color: var(--highlight-color);
}




/* SECTION: CHAT INPUT */
.input-container {
    position: relative;
    display: block;
    box-sizing: border-box;  
    padding-left:4rem;
    padding-right:4rem;
    padding-top:0;
    padding-bottom:.5rem;

}

.thread.branch .input-container{
    padding-right: 1rem;
    padding-left: 1rem;
}



.input {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto auto;
    min-height: calc(var(--font-sm) + 3.5rem);
    box-sizing: border-box;
    /* box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1); */
    border-radius: 6px;
    border: var(--border-stroke-thin);
    border-radius: var(--border-radius-normal);
    background-color: var(--background-main);
}
  
.input-wrapper {
    max-height: 30vh;
    margin-left: 1px;
    box-sizing: border-box;
    overflow: hidden;
    outline: none;
    overflow-y: scroll;
  
    direction: rtl; /* flip direction to mode the scrollbar to the left side. The direction is fliped again in the inputfield*/

    /* container: inputWrapper / inline-size;
    contain: layout inline-size; */
}
  
.input-field {
    width: 100%;
    height: 3rem;

    padding-top:1rem;
    padding-bottom:.5rem;
    padding-left:7.5rem;
    padding-right:2rem;
    box-sizing: border-box;

    font-size: var(--font-sm);

    overflow-x:hidden;

    outline: none;
    border: 0;
    resize: none;
    direction: ltr;
    background-color: var(--secondary-color);
    color: var(--text-color);

    transition: padding var(--transition-medium);
}
  
/* @container inputWrapper (width < 20rem) {
    .input-field {
        background-color: red;
        padding-left: 2rem;
    }
} */


.input-field::placeholder{
    color: var(--text-color);
    opacity: 0.5;
    text-wrap: nowrap;
    text-overflow:ellipsis;
    
}

.input-field:focus,
.input-field:not(:placeholder-shown){
    padding-left:2rem;
}

  
.input-send {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 4rem;

    background-color: var(--secondary-color);
}
[contenteditable] {
    outline: none;
}



#send-btn{
    display: flex;
    height: 2.2rem;
    width: 2.2rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: var(--border-stroke-hairline);
    border-radius: 50%;
    box-shadow: var(--shadow);
}

.send-btn-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

#send-btn-icon svg {
    width: 1.3rem;
    opacity: 0.9;
    overflow: visible;

}
  
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loading-lg{
    width: 120px;
    height: 120px;
}
.loading-sm{
    width: 1rem;
    height: 1rem;
}
#loading {
    display: none; /* Initially hidden */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}




.send-button{
    stroke: var(--stroke-color);
}
  
.prompt-improvement-btn{
    display: flex;
    width: fit-content;
    border-left: var(--border-stroke-thin);
    padding: 0 1rem;

    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
}
.prompt-improvement-btn svg{
    width: 1rem;
    overflow: visible;
    stroke-width: .5;
    fill: var(--border-stroke-thin);
    transition: all var(--transition-fast);
}
.prompt-improvement-btn svg:hover{
    scale: 1.4;
}
.isTypingStatus{
    position: absolute;
    bottom: 100%;

    font-size: var(--font-xs);
    opacity: .7;
    margin-bottom: .2rem;
    background-color: transparent;
}

.warning{
    width: 100%;
    padding: 0rem 0 .5rem 0;
    margin: 0;
    text-align: center;
    font-size: var(--font-xs);
    opacity: 0.5;
}



/* SECTION: CHAT INPUT CONTROL PANEL */
.input-controls.minimized
{
    height: 2.6rem;
    padding-bottom: 5px;
    margin-bottom: -5px;
    opacity: 1;
    overflow: visible;
}

.input-controls{
    position: relative;
    margin-bottom: 0px;
    height: 0;
    opacity: 0;
    transition: all var(--transition-fast);

    overflow: hidden;

    border-top: var(--border-stroke-thin);
    border-left: var(--border-stroke-thin);
    border-right: var(--border-stroke-thin);

    border-radius: var(--border-radius-normal) var(--border-radius-normal) 0 0;
    background-color: var(--background-main);
}


.input-controls .minimized-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 7.5rem;
    /* padding-right: 1rem; */
}
.branch .input-controls .minimized-content{
    padding-left: 2rem;
}

.fast-access-btn{
    position: relative;
}
.fast-access-btn .tooltip{
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: max-content;
    padding: 0.25rem .5rem;
}
.fast-access-btn:hover .tooltip{
    display: block;
}



.input-controls .expand-btn{
    position: absolute;
    left: .5rem;
    bottom: 0;
}
.input-controls .expanded-content{
    display: none;
}

.input-controls .right,
.input-controls .left{
    display: flex;
    
    align-items: center;
    column-gap: .25rem;
    z-index: 2;
    height: 100%;

}
.input-controls .left{
    justify-content: start;
}
.input-controls .right{
    justify-content: end;
}

.input-controls .expand-btn{
    transition: all var(--transition-fast);
}


.input-controls.expanded{
    height: 12rem;
    padding-top: 0rem;
    padding-left: 3rem;
    padding-right: .5rem;
    overflow: hidden;
}
.input-controls.expanded .minimized-content{
    display: none;
}


.input-controls.expanded .expanded-content{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}
.input-controls.expanded .expanded-left,
.input-controls.expanded .expanded-right{
    position: relative;
    height: 100%;
}


.controls-container{
    padding-left: 0;
    padding-right: 0;
}

.controls-container::-webkit-scrollbar,
.controls-props::-webkit-scrollbar{
    display: none;
}


.expanded-content .control-buttons{
    display: grid;
    height: fit-content;
    margin-right: 2rem;
    justify-items: left;
}
.expanded-content .controls-props{
    font-size: var(--font-xs);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.expanded-content .control-buttons .btn-xs{
    display: grid;
    grid-template-columns: 3rem 1fr;
    text-align: left;
}


.input-controls .expanded-left{
    border-right: var(--border-stroke-thin);
}
.input-controls .expanded-right{
    display: grid;
}

.input-controls.expanded .expand-btn{
    bottom: 3px;
    transform: rotate(180deg);
}

#input-controls-props-panel .prop-content{
    display: none;
}

.system_prompt_field{
    border: none;
    padding: .5rem 1rem 0 1rem;
    min-height: 7.5rem;
}



/* SECTION: MODEL SELECTION */
#model-selectors{
    position: relative;
    transition: all var(--transition-fast);
    height: fit-content;
    width: fit-content;
    min-width: fit-content;
}
.model-selector.active{
    background-color: var(--background-secondary) !important;
    font-weight: 700 !important;
}

/* #model-selector-burger{
    bottom: 110%;
    right: 0;
} */




/* GOOGLE */

.google-search .container {
  align-items: center;
  border-radius: 8px;
  display: flex;
  font-family: Google Sans, Roboto, sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 12px;
}
.google-search .chip {
  display: inline-block;
  border: solid 1px;
  border-radius: 16px;
  min-width: 14px;
  padding: 5px 16px;
  text-align: center;
  user-select: none;
  margin: 0 8px;
  -webkit-tap-highlight-color: transparent;
}
.google-search .carousel {
  overflow: auto;
  scrollbar-width: none;
  white-space: nowrap;
  margin-right: -12px;
}
.google-search .headline {
  display: flex;
  margin-right: 4px;
}
.google-search .headline svg{
  stroke: none;
}
.google-search .gradient-container {
  position: relative;
}
.google-search .gradient {
  position: absolute;
  transform: translate(3px, -9px);
  height: 36px;
  width: 9px;
}


.lightMode .google-search .container {
background-color: #fafafa;
box-shadow: 0 0 0 1px #0000000f;
}
.lightMode .google-search .headline-label {
color: #1f1f1f;
}
.lightMode .google-search .chip {
background-color: #ffffff;
border-color: #d2d2d2;
color: #5e5e5e;
text-decoration: none;
}
.lightMode .google-search .chip:hover {
background-color: #f2f2f2;
}
.lightMode .google-search .chip:focus {
background-color: #f2f2f2;
}
.lightMode .google-search .chip:active {
background-color: #d8d8d8;
border-color: #b6b6b6;
}
.lightMode .google-search .logo-dark {
display: none;
}
.lightMode .google-search .logo-light {
display: block;
}
.lightMode .google-search .gradient {
background: linear-gradient(90deg, #fafafa 15%, #fafafa00 100%);
}

.darkMode .google-search .container {
background-color: #1f1f1f;
box-shadow: 0 0 0 1px #ffffff26;
}
.darkMode .google-search .headline-label {
color: #fff;
}
.darkMode .google-search .chip {
background-color: #2c2c2c;
border-color: #3c4043;
color: #fff;
text-decoration: none;
}
.darkMode .google-search .chip:hover {
background-color: #353536;
}
.darkMode .google-search .chip:focus {
background-color: #353536;
}
.darkMode .google-search .chip:active {
background-color: #464849;
border-color: #53575b;
}
.darkMode .google-search .logo-light {
display: none;
}
.darkMode .google-search .logo-dark {
display: block;
}
.darkMode .google-search .gradient {
background: linear-gradient(90deg, #1f1f1f 15%, #1f1f1f00 100%);
}

.inline-citation{
    /* background-color:  red; */
    background-color: var(--panel-main);
    padding: 0.2rem 0.4rem !important;
    border: var(--border-stroke-thin);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    font-size: var(--font-xxs);
}

sup{
    margin: 0 .5rem;
}