:root {
    --shadow:1px 3px 5px rgba(0.1, 0.1, 0.1, 0.4);
    
    --border-radius-tight: 5px;
    --border-radius-normal: 10px;
    --border-radius-large: 30px;
    
    --font-sm: 1rem;
    --font-xxs: calc(var(--font-sm) * .7);
    --font-xs: calc(var(--font-sm) * .85);
    --font-md: calc(var(--font-sm) * 1.10);
    --font-lg: calc(var(--font-sm) * 1.25);
    --font-xl: calc(var(--font-sm) * 1.80);
    --font-xxl: calc(var(--font-sm) * 2.5);

    --color-transition-duration: 0;
    --transition-extra-slow: 3000ms;
    --transition-slow: 1000ms;
    /* Initial value is zero to prevent flickering
        check out: 
        home_functions / checkWindowSize called from home.blade.php */
    --transition-medium: 500ms;
    --transition-fast: 300ms;
    --transition-extra-fast: 200ms;

}
.lightMode{

    --background-main: #ffffff;
    --background-secondary: #F4F6FB;

    --panel-main: #f0f0f0;
    --panel-secondary: #ffffff;
    --panel-invert:rgb(40,40,40);

    --message-me-bg: #EBEFFF;
    --message-ai-bg: #ffffff;
    --message-member-bg: #ffffff;

    --highlight-color: #EBEFFF;
    --accent-color: #2F2ABF;
    
    --text-color:rgb(40,40,40); 
    --text-faded-color:#8A8787; 
    --invert-Text-color:#f6f9fc;
    --link-color: rgb(40,40,40);
    
    --border-stroke-hairline: .25px solid lightgray; 
    --border-stroke-thin: 1px solid lightgray; 
    --border-stroke-bold: 1.5px solid rgb(79, 79, 79);
    --border-stroke-fat: 3px solid rgb(79, 79, 79);

    --stroke-color: rgb(40,40,40);
    
    --button-color: rgb(35, 48, 176);
    --button-secondary-color: #ffffff;

    --link-color: #000;
}

.darkMode{
    --background-main: rgb(30,30,30);
    --background-secondary: rgb(25, 25, 25);

    --panel-main: rgb(44, 53, 72);
    --panel-secondary: #2c2c2c;
    --panel-invert:rgb(40,40,40);

    --message-me-bg: rgb(44, 53, 72);
    --message-ai-bg: rgb(33, 34, 36);
    --message-member-bg: rgb(33, 34, 36);

    --highlight-color: #353741;
    --accent-color: rgb(121, 147, 198);
    
    --text-color:rgb(237, 237, 237); 
    --text-faded-color:rgba(237, 237, 237, 0.8); 
    --invert-Text-color:#363636;
    --link-color: rgb(232, 232, 232);
    
    --border-stroke-hairline: .5px solid rgb(61, 61, 61); 
    --border-stroke-thin: .5px solid rgb(61, 61, 61); 
    --border-stroke-bold: 1px solid rgb(255, 255, 255);
    --border-stroke-fat: 1px solid rgb(100, 100, 100);

    --stroke-color: rgb(255, 255, 255);
    
    --button-color: #ffffff;
    --button-text-color: #ffffff;

    --link-color: #ffffff;
}


.logo{
    /* adjust width and aspect ratio as needed */
    width: 8rem;
    /* Aaspect ration of HAWK logo */
    aspect-ratio: 2.226/1;

    background-image: url("/img/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-size: auto; */
}